@import "_variable.scss";
@import "_reset.scss";
@import "_mixin.scss";
@import "_responsive.scss";
.contact {
    margin-top: 100px;
    padding: 0 50px;
    margin-bottom: 30px;
    h3 {
        font-weight: bold;
    }
    h6 {
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }
    .social-box-contact {
        width: 20%;
    }
    .form-contact {
        .error-input {
            input {
                width: 100%;
                border: 1px solid $red;
                &::placeholder {
                    color: $red
                }
            }
        }
        input {
            background-color: $col-bg;
            border: none;
            outline: none;
            padding: 10px 0 10px 20px;
            margin-top: 10px;
            @include border-radius-5;
            font-size: 13px;
        }
        .form-control {
            background-color: $col-bg;
            @include border-radius-5;
            margin-top: 10px;
            height: 295px;
            resize: none;
            border: none;
            padding-top: 10px;
            font-size: 13px;
        }
        button {
            border: none;
            background-color: $purple;
            @include border-radius-5;
            color: $white;
            padding: 7px 15px;
            font-size: 13px;
            @include transition;
            &:hover {
                letter-spacing: 2px;
            }
        }
    }
}