@import "_variable.scss";
@import "_reset.scss";
@import "_mixin.scss";
@import "_responsive.scss";
#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $loader-color;
    z-index: 100000000;
    opacity: 1;
    overflow: hidden;
    text-align: center;
    .position-center-center {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.absolute-info-user-open-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 76px;
    right: 35px;
    border: 1px solid $purple;
    padding: 10px;
    @include border-radius-5;
    background-color: $white;
    .user-box {
        background-color: $purple;
        padding: 5px 10px;
        color: $white;
        @include border-radius-5;
        height: 36px;
        border: none;
        margin-top: 3px;
    }
}

.header {
    border-bottom: 1px solid $border-color;
    @include position-fixed-top;
    background-color: $white;
    z-index: 2;
    .nav {
        padding-left: 100px;
        flex-wrap: nowrap !important;
        .serach-box {
            position: relative;
            i {
                position: absolute;
                top: 15px;
                left: 10px;
                font-size: 13px;
                padding-left: 10px;
            }
            input {
                background-color: $col-bg;
                border: none;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                padding: 6px 0 6px 50px;
                font-size: 14px;
                outline: none;
                &::placeholder {
                    font-size: 13px;
                }
            }
        }
        ul {
            .nav-item {
                .nav-link {
                    color: $black;
                    @include transition;
                    &:hover {
                        border-bottom: 1px solid $purple;
                        color: $purple;
                        transform: translateY(15.5px);
                        -webkit-transform: translateY(15.5px);
                        -moz-transform: translateY(15.5px);
                        -ms-transform: translateY(15.5px);
                        -o-transform: translateY(15.5px);
                    }
                }
            }
        }
        .register {
            a {
                color: $black;
                font-weight: bold;
                @include transition;
                &:hover {
                    color: $purple;
                }
            }
        }
        .info-user-box {
            position: relative;
            padding-left: 5px;
            border-left: 1px solid $border-color;
            .image-box--info-user {
                width: 18%;
                @include border-radius-50;
                img {
                    width: 100%;
                    @include border-radius-50;
                }
            }
            .text-box {
                padding-left: 5px;
                h4 {
                    padding-top: 12px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .info-user-button-box {
                padding-top: 5px;
                gap: 4px;
                .user-box {
                    background-color: $purple;
                    padding: 5px 10px;
                    color: $white;
                    @include border-radius-5;
                    height: 36px;
                    border: none;
                    font-weight: 500;
                }
                .arrow-down-user-button {
                    background-color: $purple;
                    padding: 5px 6px;
                    color: $white;
                    @include border-radius-5;
                    height: 36px;
                    border: none;
                }
                .open-info {
                    margin-left: 4px;
                    i {
                        padding: 10px 5px;
                        background-color: $purple;
                        @include border-radius-5;
                        color: $white;
                    }
                }
            }
        }
    }
    .mobile-nav-menu {
        padding-right: 20px;
        form {
            position: relative;
            i {
                position: absolute;
                top: 24px;
                left: 14px;
            }
            input {
                background-color: $col-bg;
                border: none;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                padding: 5px 0px 5px 40px;
                outline: none;
            }
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: $white;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 5px;
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: $black;
                display: block;
                transition: 0.3s;
                &:hover {
                    color: $purple;
                }
            }
            .closebtn {
                position: absolute;
                width: 50px;
                top: 12px;
                right: 25px;
                font-size: 30px;
                margin-left: 50px;
                border: 1px solid $black;
                background-color: $white;
                @include border-radius-50;
            }
            .mobile-button-box {
                padding: 10px 20px;
                border-bottom: 1px solid $gray;
                a {
                    background-color: $purple;
                    color: $white;
                    text-align: center;
                    @include border-radius;
                }
            }
            .social-links-mobile {
                padding-top: 500px;
            }
            .mobile-footer {
                padding-top: 50px;
                a {
                    color: $gray;
                    font-size: 15px;
                    text-align: center;
                }
            }
            .mobile-register {
                background-color: $col-bg;
                .img-box {
                    @include border-radius-50;
                    width: 20%;
                    padding-top: 10px;
                    img {
                        @include border-radius-50;
                        width: 100%;
                    }
                }
                .profile-names {
                    h3 {
                        font-weight: bold;
                        text-align: start;
                    }
                    .green-button-profile {
                        background-color: $green;
                        padding: 5px 10px;
                        color: $white;
                        border: none;
                        @include border-radius;
                    }
                    .purple-button-profile {
                        padding: 5px 10px;
                        color: $white;
                        border: none;
                        @include border-radius;
                        background-color: $purple;
                        margin-left: 10px;
                    }
                }
            }
            .mobile-register-exit-button {
                padding: 0 15px;
                a {
                    background-color: $red;
                    padding: 10px 20px;
                    color: $white;
                    width: 100%;
                    text-align: center;
                    @include border-radius;
                }
            }
        }
    }
}

.home {
    position: relative;
    margin-top: 80px;
    padding: 30px 0;
    .container {
        .row {
            .home-search {
                background-color: $col-bg;
                height: auto;
                @include border-radius;
                overflow-x: auto;
                form {
                    padding-top: 20px;
                    input {
                        width: 100%;
                        border: none;
                        background: #FFFFFF;
                        border-radius: 50px;
                        padding: 2px 0px 3px 10px;
                        &::placeholder {
                            font-size: 13px;
                        }
                        &:focus {
                            outline: none;
                            font-size: 13px;
                        }
                    }
                }
                ul {
                    padding-top: 20px;
                    padding-left: 0 !important;
                    li {
                        list-style: none;
                        margin-top: 10px;
                        a {
                            color: $black;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 30px;
                            padding-right: 10px;
                        }
                        p {
                            color: $gray;
                        }
                    }
                }
            }
            .home-contents {
                padding-left: 40px;
                .profile-contents {
                    .img-box {
                        width: 100px;
                        @include border-radius-50;
                    }
                    .profile-names {
                        h3 {
                            font-weight: bold;
                            font-size: 18px;
                        }
                        .green-button-profile {
                            background-color: $green-2;
                            border: none;
                            @include border-radius-5;
                            color: $white;
                            padding: 5px 10px;
                        }
                        .purple-button-profile {
                            background-color: $purple;
                            border: none;
                            @include border-radius-5;
                            color: $white;
                            padding: 5px 10px;
                            margin-left: 10px;
                        }
                    }
                    .green-button-profile {
                        background-color: $green-2;
                        border: none;
                    }
                    .follow-button-box {
                        padding-left: 20px;
                        button {
                            background-color: $purple;
                            border: none;
                            @include border-radius-5;
                            color: $white;
                            padding: 5px 10px;
                            margin-left: 5px;
                            font-size: 14px;
                        }
                    }
                    .description-box {
                        padding-left: 20px;
                        p {
                            line-height: 28px;
                        }
                    }
                }
                .post-share-form {
                    h1 {
                        color: $purple;
                        font-weight: bold;
                    }
                    form {
                        .category-box {
                            label {
                                font-weight: bold;
                                line-height: 30px;
                            }
                            input {
                                background-color: $col-bg;
                                @include border-radius-5;
                                border: none;
                                padding: 4px 7px;
                                outline: none;
                                &::placeholder {
                                    font-size: 13px;
                                }
                            }
                            .button-comment {
                                padding-left: 10px;
                                button {
                                    @include border-radius-5;
                                    background-color: $purple;
                                    border: none;
                                    padding: 4px 7px;
                                    a {
                                        color: $white;
                                    }
                                }
                            }
                            .text-area {
                                .form-control {
                                    background-color: $col-bg;
                                    outline: none !important;
                                    border: none;
                                    resize: none;
                                    height: 250px;
                                    font-size: 14px;
                                }
                            }
                            .share-category {
                                button {
                                    background-color: $purple;
                                    @include border-radius-5;
                                    color: $white;
                                    border: none;
                                    padding: 5px 20px;
                                }
                            }
                        }
                    }
                }
                .question-box {
                    width: 95%;
                    height: auto;
                    .answer {
                        padding-top: 20px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    h1 {
                        font-weight: 600;
                        font-size: 25px;
                        line-height: 63px;
                    }
                    .text-box {
                        h6 {
                            font-size: 13px;
                            font-weight: bold;
                        }
                        p {
                            color: $gray;
                            font-size: 12px;
                        }
                    }
                    p {
                        font-size: 14px;
                        line-height: 28px;
                        text-align: justify;
                    }
                    .button-boxes {
                        display: flex;
                        gap: 15px;
                        .arrow-up {
                            i {
                                text-align: center;
                                padding: 8px 10px 8px 10px;
                                background-color: $green;
                                color: $white;
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                            }
                            p {
                                padding-left: 5px;
                                font-size: 13px;
                            }
                        }
                        .arrow-down {
                            i {
                                text-align: center;
                                padding: 8px 10px 8px 10px;
                                background-color: $red;
                                color: $white;
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                            }
                            p {
                                padding-left: 5px;
                                font-size: 13px;
                            }
                        }
                        .button-comment {
                            a {
                                color: $white;
                                background-color: $purple;
                                border: none;
                                padding: 5px 15px;
                                border-radius: 5px;
                            }
                        }
                        .favorite-box {
                            a {
                                color: $white;
                                background-color: $purple-2;
                                border: none;
                                padding: 5px 15px;
                                border-radius: 5px;
                            }
                        }
                        .share-box {
                            a {
                                color: $white;
                                background-color: $purple;
                                border: none;
                                padding: 5px 15px;
                                border-radius: 5px;
                            }
                        }
                        .share-box-2 {
                            border: 1px solid $border-color;
                            padding: 5px 15px;
                            @include border-radius-5;
                        }
                        .notifocation-box {
                            a {
                                color: $white;
                                background-color: $notification-color;
                                border: none;
                                padding: 5px 15px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .border-bottom {
                        width: 100%;
                        height: 2px;
                        background-color: $border-color;
                    }
                }
            }
        }
    }
    .w-55px {
        width: 55px;
    }
}

.register {
    margin-top: 130px;
    h3 {
        font-weight: bold;
    }
    .border-register {
        border-right: 1px solid $border-color !important;
    }
    form {
        width: 65%;
        height: 100%;
        .show-hide-pass {
            width: 100%;
            position: relative;
            .show-hide-button {
                position: absolute;
                top: 23px;
                right: 10px;
                border: none;
                background-color: transparent;
            }
            .pass-msg {
                font-size: 12px;
            }
        }
        input {
            background-color: $col-bg;
            @include border-radius-5;
            border: none;
            margin-top: 15px;
            padding: 7px 0 7px 10px;
            outline: none;
            font-size: 14px;
            &::placeholder {
                font-size: 13px;
            }
        }
        .input-error-message {
            border: 1px solid $red !important;
            background-color: $white !important;
            color: $black !important;
        }
        .login {
            @include border-radius-5;
            padding: 7px 0 7px 10px;
            background-color: $purple;
            color: $white;
            text-align: center;
            @include transition;
            border: none;
            &:hover {
                letter-spacing: 2px;
            }
        }
        select {
            font-size: 14px;
            margin-top: 10px;
            padding: 3px 0 3px 10px;
            background-color: $col-bg;
            border: none;
            @include border-radius-5;
            outline: none;
        }
        span.loginwith {
            display: block;
            width: 100%;
            margin-top: 1em;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "";
                display: inline-block;
                width: 42%;
                height: 1px;
                background: $gray;
                vertical-align: middle;
                margin-right: 3%;
            }
            &::after {
                content: "";
                display: inline-block;
                width: 45%;
                height: 1px;
                background: $gray;
                vertical-align: middle;
                margin-left: 3%;
            }
        }
        label {
            margin-top: 12px;
            margin-left: 5px;
            font-size: 14px;
            span {
                color: $purple;
            }
        }
    }
}

.about {
    margin-top: 100px;
    .map-area-frame {
        height: 400px;
        iframe {
            height: 100%;
            @include border-radius-5;
        }
    }
}

.discover {
    margin-top: 100px;
}

.contact {
    margin-top: 100px;
    padding: 0 50px;
    margin-bottom: 30px;
    h3 {
        font-weight: bold;
    }
    h6 {
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }
    .social-box-contact {
        width: 20%;
    }
    .form-contact {
        .error-input {
            input {
                width: 100%;
                border: 1px solid $red;
                &::placeholder {
                    color: $red
                }
            }
        }
        input {
            background-color: $col-bg;
            border: none;
            outline: none;
            padding: 10px 0 10px 20px;
            margin-top: 10px;
            @include border-radius-5;
            font-size: 13px;
        }
        .form-control {
            background-color: $col-bg;
            @include border-radius-5;
            margin-top: 10px;
            height: 295px;
            resize: none;
            border: none;
            padding-top: 10px;
            font-size: 13px;
        }
        button {
            border: none;
            background-color: $purple;
            @include border-radius-5;
            color: $white;
            padding: 7px 15px;
            font-size: 13px;
            @include transition;
            &:hover {
                letter-spacing: 2px;
            }
        }
    }
}

.nav-tabs {
    .nav-item.show .nav-link,
    .nav-link {
        color: $black !important;
    }
}

.nav-tabs {
    .nav-item.show .nav-link,
    .nav-link.active {
        border: none !important;
        color: $purple !important;
    }
}

.nav-tabs {
    .nav-item.show .nav-link,
    .nav-link {
        &:hover {
            border: none !important;
            outline: none !important;
        }
    }
}

.filterThree {
    h6 {
        color: $purple;
        span {
            color: $black !important;
        }
    }
}

.elementFilter {
    li {
        margin-left: 25px;
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
        &.active {
            color: $purple;
            border-bottom: 1.5px solid $purple;
        }
    }
}

.footer {
    padding: 0px 0 20px 0;
    .container-fluid {
        padding: 0 30px 0 30px;
        .row {
            .col-12 {
                .d-flex {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        gap: 30px;
                        li {
                            list-style: none;
                            a {
                                color: $gray;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 30px;
                                @include transition;
                                &:hover {
                                    color: $purple;
                                }
                            }
                        }
                    }
                    a {
                        color: $gray;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}