@import "_variable.scss";
@import "_reset.scss";
@import "_mixin.scss";
.about {
    margin-top: 100px;
    .map-area-frame {
        height: 400px;
        iframe {
            height: 100%;
            @include border-radius-5;
        }
    }
}