@import "_variable.scss";
@import "_reset.scss";
@import "_mixin.scss";
.register {
    margin-top: 130px;
    h3 {
        font-weight: bold;
    }
    .border-register {
        border-right: 1px solid $border-color !important;
    }
    form {
        width: 65%;
        height: 100%;
        .show-hide-pass {
            width: 100%;
            position: relative;
            i {
                position: absolute;
                top: 23px;
                right: 10px;
            }
            .pass-msg {
                font-size: 12px;
            }
        }
        input {
            background-color: $col-bg;
            @include border-radius-5;
            border: none;
            margin-top: 15px;
            padding: 7px 0 7px 10px;
            outline: none;
            font-size: 14px;
            &::placeholder {
                font-size: 13px;
            }
        }
        .login {
            @include border-radius-5;
            padding: 7px 0 7px 10px;
            background-color: $purple;
            color: $white;
            text-align: center;
            @include transition;
            &:hover {
                letter-spacing: 2px;
            }
        }
        select {
            font-size: 14px;
            margin-top: 10px;
            padding: 3px 0 3px 10px;
            background-color: $col-bg;
            border: none;
            @include border-radius-5;
            outline: none;
        }
        span.loginwith {
            display: block;
            width: 100%;
            margin-top: 1em;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "";
                display: inline-block;
                width: 42%;
                height: 1px;
                background: $gray;
                vertical-align: middle;
                margin-right: 3%;
            }
            &::after {
                content: "";
                display: inline-block;
                width: 45%;
                height: 1px;
                background: $gray;
                vertical-align: middle;
                margin-left: 3%;
            }
        }
        label {
            margin-top: 12px;
            margin-left: 5px;
            font-size: 14px;
            span {
                color: $purple;
            }
        }
    }
}