$gray:#ABAABA;
$purple:#586EFF;
$border-color:#F2F2F2;
$col-bg:#F6F8FE;
$black:#000;
$white:#fff;
$green:#11A239;
$red:#FF5858;
$purple-2:#862BCE;
$notification-color:#162480;
$loader-color:#836aff;
$green-2:#27B389;